<div class="topContainer">
  <%= link_to image_tag("backButton.png", :class => "backButton animated jello"), root_path %>
</div>

<div class="pageContainer">
  <div id="menuBox">
    <div id="menuTitle">
      <br />
      PEAK BREW <br />
      Menu Selection
      <hr />
    </div>
    <div class="menuColumn">
      House Blend - 2<br />
      Coffee on the Rocks - 3<br />
      Peak Secret - 4<br />
      Ultimate Coffee - 6<br />
    </div>
    <div class="menuColumn">
      Herbal Thunder - 4<br />
      Climber Special - 4<br />
      Cliffhanger - 4<br />
      Hiker's Nap - 4<br />
    </div>
    <div id="menuFooter">
      *All our products are gluten free, vegan, kid tested-mother approved, and whatever else pleases you hippies.
    </div>
  </div>
</div>

<div class="footerContainer">
  <div id="socialContainer">
    <img src="../../assets/facebook.png" class="socialIcon">
    <img src="../../assets/twitter.png" class="socialIcon">
    <img src="../../assets/insta.png" class="socialIcon">
  </div>
</div>
